*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

:root {
  --var-shadow-1: 0 1px 8px rgba(4, 28, 51, 0.02), 0 5px 15px rgba(4, 28, 51, 0.03),
    0 15px 30px rgba(4, 28, 51, 0.04);
  --var-shadow-2: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --var-shadow-3: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --var-shadow-4: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  --var-shadow-5: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --var-shadow-6: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --var-shadow-7: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --var-shadow-8: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  --var-shadow-9: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  --var-shadow-10: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  --container-padding: 48px;
  --container-padding-negative: calc(var(--container-padding) * -1);
  font-family: 'Noto Sans', sans-serif, Arial, Helvetica;
  overflow-x: hidden;
}

body {
  margin: 0;
  text-align: center;
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #FAFAFA;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

header {
  width: 100% !important;
  height: 85vh !important;
  position: relative;
  text-align: center !important;
  display: grid;
  overflow: hidden
}

header div {
  position: absolute;
  z-index: 999;
  align-self: center;
}

header div span {
  padding: 15px;
}

h1 {
  font-size: 5em;
  padding-top: 0.6rem;
  margin: 0.67em 0;
  letter-spacing: -4px;
  font-weight: 800;
  /*  padding-bottom: 0.15rem !important; */
  /* text-shadow: 2px 1px 0px #d2d2d2, 4px 2px 0px #4f3256, 3px 1px 6px #000000; */
  text-align: center;
  /* text-transform: uppercase; */
  transform: rotateX(21deg);
  opacity: 94%;
}

h2 {
  letter-spacing: 0.8px;
  /* font-weight: bold; */
}

canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

footer {
  position: relative;
  padding: 20px;
  margin-top: 2.5em;
}

a,
blockquote,
p {
  line-height: 2.1rem;
  font-size: 1.2rem;
  letter-spacing: 0.1px;
}

span,
p {
  font-size: 100%;
}

a {
  font-size: 0.9em;
  font-weight: 700;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: gray;
  font-size: 1em;
}

a:visited {
  color: #333;
}

main {
  display: block;
}

img {
  border-style: none;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

li {
  list-style: none !important;
}

img {
  border-style: solid;
}

input::-webkit-input-placeholder {
  color: #a0aec0;
}

input::placeholder {
  color: #a0aec0;
}

table {
  border-collapse: collapse;
}

button,
input {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

canvas,
svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  cursor: pointer;
}

table {
  font-size: 100%;
}

tbody tr td:nth-of-type(2) {
  text-align: left;
  line-height: 1.25;
}

tbody tr td {
  text-align: right;
  padding: 1.5rem 8px 1.5rem 0.5rem;
}

tbody tr td img {
  width: 24px;
  float: right;
}

tbody .even {
  background-color: #f7fafc;
}

tbody .odd {
  background-color: #fff;
}

thead {
  background-color: #edf2f7;
}

thead th {
  text-align: right;
  line-height: 1.25;
  color: #4a5568;
  padding: 0.5rem;
}

thead th:first-of-type {
  opacity: 0;
}

thead th:nth-of-type(2) {
  text-align: left;
}

thead th.sorting,
thead th.sorting_asc,
thead th.sorting_desc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 100%;
  padding-right: 26px;
}

thead th.sorting {
  background-image: url(../assets/image/sorting.svg);
}

thead th.sorting_desc {
  background-image: url(../assets/image/sorting_desc.svg);
}

.worldSec {
  margin-top: 2rem;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.space {
  padding: 1.2em;
}

.worldUl {
  list-style: none;
  display: grid;
  grid-gap: 2rem;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)) !important; */
  grid-template-columns: repeat(2, 1fr);
  /* Two columns */
  grid-template-rows: auto auto;
  /* Two rows */
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  margin-top: 40px !important;
}

.worldUl li:first-child {
  grid-column: span 2;
  /* First item spans two columns */
}

.cool-border {
  border: 0 solid #e2e8f0;
  background-color: #fff;
  border-color: #edf2f7;
  border-radius: 0.5rem;
  border-width: 2px;
  box-shadow: var(--var-shadow-7);
}

.worldLi {
  flex-direction: row;
  padding: 1.5rem;
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.worldDiv {
  text-align: center !important;
  padding: 20px !important;
  margin: 0 !important;
  width: 100%;
}

.worldDiv h3 {
  padding: 1.5px;
  margin-bottom: 0 !important;
}

.countrySec {
  margin-top: 2rem;
}

.heading {
  padding: 10px;
  font-size: 3em;
  font-weight: 700;
}

::selection {
  background: rgba(17, 16, 16, 0.808);
  color: rgba(250, 250, 250, 0.89);
}

.quoteDiv {
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 1.5em;
}

q {
  font-style: italic;
}

.dataTables_filter {
  line-height: 1.5;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: center;
  text-align: center;
  display: inline-flex;
}

.dataTables_scroll {
  padding-left: 1em;
  padding-right: 1em;
}

.page-link {
  padding: 2px !important;
}

.dataTables_filter {
  float: center;
}

.col-md-6 {
  padding: 10px;
}

.paginate_button {
  cursor: pointer;
}

.tothetop {
  z-index: 999;
  opacity: 0;
  padding: 14px;
  transition: 1s;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: url(../assets/image/blobtop.svg);
  font-size: 2em;
  font-weight: bold;
}

.tothetop:hover {
  animation: spin;
  animation-duration: 0.6s;
}

.tobreakdown {
  z-index: 999;
  opacity: 0;
  padding: 14px;
  transition: 1s;
  width: 60px;
  height: 60px;
  background: url(../assets/image/blobtop.svg);
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.tobreakdown:hover {
  animation: spin;
  animation-duration: 0.6s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.resp-txt {
  width: 100%;
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

.table {
  display: table;
}

.leading-none {
  line-height: 1.3;
}

.text-gray-700 {
  color: #4a5568;
}

.text-orange-500 {
  color: #ed8936;
}

.text-green-600 {
  color: #38a169;
}

.text-indigo-600 {
  color: #5a67d8;
}

.text-red-600 {
  color: #e53e3e;
}

.text-base {
  font-weight: bold !important;
  text-align: center;
}

/* .worldDiv span span {
  text-transform: uppercase;
} */

#breakdown_length {
  display: inline-block;
}

#breakdown_length label {
  color: #4a5568;
}

#breakdown_length select {
  color: #4a5568;
  border-color: #cbd5e0;
  border-width: 2px;
  background-color: #fff;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../assets/image/down.svg);
  background-repeat: no-repeat;
  background-position: right 0.9em top 50%;
  background-size: 0.65em auto;
}

#breakdown_filter {
  display: inline-block;
  float: none;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
  white-space: nowrap;
  color: #4a5568;
}

#breakdown_filter input {
  border-color: #cbd5e0;
  border-width: 2px;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 170px;
  margin-left: 8px;
  background: url(../assets/image/search1.svg) no-repeat scroll 6px 10px;
  padding: 0.5rem 0.5rem 0.5rem 30px;
}

#breakdown_filter input::-webkit-input-placeholder {
  color: #4a5568;
}

#breakdown_filter input::placeholder {
  color: #4a5568;
}

#breakdown_info {
  display: inline-block;
  color: #4a5568;
  margin-top: 8px;
}

#breakdown_paginate {
  color: #4a5568;
  float: center;
  align-items: center;
  margin-top: 24px;
}

#breakdown_paginate a {
  cursor: pointer;
}

.paginate_button.next,
.paginate_button.previous {
  background-color: #e2e8f0;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  text-indent: -9999px;
  white-space: nowrap;
  position: relative;
  flex-shrink: 0;
}

.paginate_button.next:hover,
.paginate_button.previous:hover {
  width: 45px;
  height: 45px;
}

.paginate_button.next {
  background-image: url(../assets/image/next.svg),
    linear-gradient(180deg, #e2e8f0, #e2e8f0);
  background-repeat: no-repeat, repeat;
  background-position: 50%, 50%;
}

.paginate_button.previous {
  background: url(../assets/image/previous.svg),
    linear-gradient(180deg, #e2e8f0, #e2e8f0);
  background-repeat: no-repeat, repeat;
  background-position: 50%, 50%;
}

.dataTables_scroll {
  margin-bottom: 16px;
}

.mt-2 {
  margin-top: 0.2rem;
}

.resourcesBtn {
  display: inline-block;
  border-radius: 10%;
}

.ppad {
  padding-left: 15px;
  text-align: center;
}

figure a img {
  left: 50px;
}

figure:hover {
  border-radius: 15%;
  font-weight: 700;
  cursor: pointer;
}

figcaption {
  text-align: center;
}

.header-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: space-between;
  /* Distribute space between elements */
  align-items: center;
  /* Center elements horizontally */
  text-align: center;
  /* Center text horizontally */
}

.header-txt h1,
.header-txt h2,
.header-txt h3,
h2.title,
.heading,
.worldUl li:first-child .color-txt,
.worldUl li:first-child div h3 {
  /* Set the gradient as the background */
  background: -webkit-linear-gradient(#4a0000, #000000);
  background: linear-gradient(#4a0000, #000000);

  /* Clip the background to the text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the text transparent, so the background shows through */
  -webkit-text-fill-color: transparent;

  z-index: 999;
}

.header-txt h1,
.header-txt h2,
.header-txt h3,
h2.title,
.heading {
  padding: 10px;
}

.header-txt h1 {
  font-size: 2.5em;
  /* 40px on a base of 16px */
  margin: 0;
  padding: 0;
  align-self: center;
  /* Center h2 both horizontally and vertically */
  margin-top: 80px;
}

.header-txt h2 {
  font-size: 1.5em;
  /* 32px on a base of 16px */
  font-weight: 400;
  margin: 0;
  padding: 0;
  align-self: center;
  /* Center h2 both horizontally and vertically */
}

.header-txt h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  /* 24px on a base of 16px */
  align-self: center;
  /* Center h2 both horizontally and vertically */
  margin-bottom: 80px;
}

.updates {
  font-size: 1.4em !important;
  margin-bottom: 2em;
}

/* #pieChartSection {
  margin: 10px;
}

#pieChartContainer {
  width: 100%; 
  height: 300px;
} */

#chartsGrid {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); 2 columns */
  grid-gap: 30px;
  /* space between charts */
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  /* Creates two columns with equal width */
  grid-template-rows: auto auto auto;
  /* Creates three rows */
  /* gap: 10px; Space between grid items */
}

.pie .pie-item:nth-child(5) {
  grid-column: 1 / span 2;
  /* Makes the 5th item stretch across both columns */
}

.chartContainer {
  width: 100%;
  height: 300px;
  /* background-color: #f9f9f9;  */
  /* optional, for better visibility */
  /* border-radius: 10px; */
  /* box-shadow: var(--var-shadow-7); */
  /* optional, for styling */
}

#worldmap {
  width: 100%;
}

.lineChart {
  width: 100%;
  height: 400px;
}

/* #chartDiv {
  width: 100%;
  height: 350px;
} */

.chartDiv {
  width: 100%;
  height: 350px;
  margin-top: 50px
}

.blogSection {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  /* margin: 0 auto; */
  width: max-content;
}

.blogItem {
  box-shadow: var(--var-shadow-7);
  border-radius: 15px;
  max-width: calc(100% - 1rem);
  min-height: 100%;
  min-width: calc(100% - 1rem);
  padding: 16px;
  transition: transform 0.5s ease-out 0s;
  width: calc(100% - 1rem);
  word-wrap: break-word;
  z-index: 1;
}

.blogItem::hover {
  /* border-color: rgb(74, 85, 104); */
  transform: translateY(-2px);
  z-index: 2;
}

g[aria-labelledby] {
  display: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Or any color you prefer */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to be on top of all content */
}

/* .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
} */

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: red;
  }
  40% {
    stroke: blue;
  }
  66% {
    stroke: green;
  }
  80%,
  90% {
    stroke: yellow;
  }
}

@keyframes move {
  25% {
    opacity: 1;

  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* html.sr .load-hidden {
  visibility: hidden;
} */

@media (min-width: 200px) and (max-width: 480px) {
  html {
    --container-padding: 30px;
  }

  .worldUl {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  
  .worldUl li:first-child {
    grid-column: 1;
    /* First item spans two columns */
  }

  .resp-txt {
    font-size: 3em;
  }

  .text-base {
    font-size: 2.5em;
  }

  #breakdown_filter {
    text-align: center !important;
  }

  #breakdown_filter input {
    width: 200px;
  }

  .pagination {
    width: 50px;
  }

  header {
    font-size: 60%
  }

  h2 {
    font-size: 3.5em;
  }

  .updates {
    font-size: 1.7em;
  }

  .page-link {
    padding: 10px !important;
  }

  .dataTables_length {
    font-size: 2em;
  }

  select {
    font-size: 0.9em;
  }

  .dataTables_filter {
    font-size: 1.5em;
  }

  footer {
    font-size: 1.6em;
    position: relative;
  }

  .paginate_button {
    font-size: 1.4em;
    padding: 6px;
  }
}

@media only screen and (min-width: 481px) {
  .worldUl {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .resp-txt {
    font-size: 2.3em;
  }

  #breakdown_filter {
    text-align: center !important;
  }

  .page-link {
    padding: 15px !important;
  }

  header {
    font-size: 80%
  }

  h2 {
    font-size: 3;
  }

  .updates {
    font-size: 1.5em;
  }

  .text-base {
    font-size: 2em;
  }

  .resp-txt {
    font-size: 3em;
  }

  footer {
    font-size: 1.5em;
  }

  .paginate_button {
    font-size: 1.4em;
    padding: 6px;
  }

  figure {
    display: inline-flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 4.7em !important;
  }

  h2 {
    font-size: 4em !important;
  }

  .worldUl {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .resp-txt {
    font-size: 3.5em;
  }

  #breakdown_filter {
    margin-top: 0;
    width: auto;
  }

  #breakdown_filter input {
    width: 250px;
  }

  #breakdown_info {
    margin-bottom: 16px;
  }

  #breakdown_paginate {
    margin-top: 16px;
    font-size: 2em;
  }

  footer {
    font-size: 1.7em !important;
  }

  .paginate_button {
    font-size: 1.4em;
    padding: 6px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .worldUl {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  h1 {
    font-size: 6em !important;
  }

  h2 {
    font-size: 5.5em !important;
  }

  .updates {
    font-size: 1.7em;
  }

  .text-base {
    font-size: 2em !important;
  }

  .resp-txt {
    font-size: 4em;
  }

  #breakdown_filter input {
    width: 320px;
  }

  footer {
    font-size: 2em;
  }

  .paginate_button {
    font-size: 1.8em;
    padding: 8px;
  }
}

@media (min-width: 1281px) {
  .worldUl {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  h1 {
    font-size: 8em !important;
  }

  h2 {
    font-size: 7em !important;
  }

  .updates {
    font-size: 2.5em;
  }

  .text-base {
    font-size: 3em !important;
  }

  .resp-txt {
    font-size: 5em;
  }

  #breakdown_filter input {
    width: 350px;
  }

  footer {
    font-size: 2em;
  }

  .pagination {
    font-size: 2em;
  }

  .dataTables_info {
    font-size: 2em;
  }

  .dataTables_length {
    font-size: 2.5em;
  }

  select {
    font-size: 0.8em;
  }

  .dataTables_paginate {
    text-align: center;
  }

  .paginate_button {
    font-size: 2.3em !important;
    padding: 10px !important;
  }

  .covid19stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
  }

  .title {
    color: #414a4f;
    text-transform: capitalize;
    /* font: bold 32px "Open Sans", sans-serif; */
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }

  .covid19stats p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
  }

  .grid-container {
    width: 100%;
    /* max-width: 1280px; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .grid-container>.grid-item {
    position: relative;
    height: 400px;
    flex: 1;
    margin: 0;
    padding: 20px;
    margin-top: 40px;
    margin-right: 20px;
  }

  .grid-container>.grid-item>div {
    height: 100%;
  }

  @media (max-width: 1000px) {
    .grid-container {
      flex-flow: column nowrap;
    }
  }
}

@media (max-width: 1000px) {
  .covid19stats {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  .covid19stats {
    padding: 80px 30px;
  }
}

@media (max-width: 900px) {
  .covid19stats {
    display: none;
  }
}